@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

@layer base {
  html {
    font-family: 'Pretendard-Regular';
  }

  body {
    color: var(--black);
  }
}

@layer base {
  :root {
    --extra-light-gray: #f0f0f0;
    --light-gray: #d9d9d9;
    --gray: #8c8c8c;
    --dark-gray: #4f4f4f;
    --black: #000000;
    --white: #ffffff;
    --light-yellow: #ffdcac;
    --light-orange: #ffcfac;
    --orange: #ffa868;
    --red: #ff4d4d;
    --green: #7eeb7e;
    --blue: #1a75ff;
  }

  .dark {
    --extra-light-gray: #1f1f1f;
    --light-gray: #4f4f4f;
    --gray: #8c8c8c;
    --dark-gray: #d9d9d9;
    --black: #ffffff;
    --white: #121212;
    --light-yellow: #7c4818;
    --light-orange: #ecb172;
    --orange: #ff9137;
    --red: #ff6b6b;
    --green: #4caf50;
    --blue: #4d9eff;
  }
}

@layer utilities {
  .display-bold24 {
    @apply text-2xl font-bold;
  }

  .display-bold20 {
    @apply text-xl font-bold;
  }

  .display-bold16 {
    @apply text-base font-bold;
  }

  .display-bold14 {
    @apply text-sm font-bold;
  }

  .display-bold12 {
    @apply text-xs font-bold;
  }

  .display-medium20 {
    @apply text-xl;
  }

  .display-medium16 {
    @apply text-base;
  }

  .display-medium14 {
    @apply text-sm;
  }

  .display-medium12 {
    @apply text-xs;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #dadada;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #aeaeae;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
